<!DOCTYPE HTML>
<html lang="pt-br">
	<head>
		<meta charset="UTF-8">

		<title>MMORPG - Game of Thrones</title>
		
		<!-- JQuery -->
		<script src="js/jquery-2.2.1.js"></script>

		<!-- bootstrap - link cdn -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
	
		<!-- incluindo css -->
		<link href="css/style.css" rel="stylesheet">

		<script>
				var timerId = null;

				jQuery(document).ready(function(){
					
					
					jQuery("#btn_sair").click(function(){
						window.location.href = '/sair';
					});

					jQuery("#btn_suditos").click(function(){
						
						jQuery("#msg").hide();

						jQuery.ajax({
							url: '/suditos',
							method: "get",
							success: function(data){
								jQuery("#acoes").html(data);
							},
							error: function(){
								alert('erro na requisição');
							}
						});

						
					});

					jQuery("#btn_pergaminho").click(function(){
						
						jQuery("#msg").hide();
						
						jQuery.ajax({
							url: '/pergaminhos',
							method: "get",
							success: function(data){
								jQuery("#acoes").html(data);
								clearTimeout(timerId);
								cronometro();

							},
							error: function(){
								alert('erro na requisição');
							}
						});
					});
				

				});


				function cronometro(){
					
					var finalizaCronometro = false;

					jQuery(".tempo_restante").each(function(){
						var segundos = jQuery(this).html();
						var segundos_atuais = parseInt(segundos) - 1;

						console.log(segundos_atuais);
						if(segundos_atuais < 0){
							window.location.href = '/jogo?msg=C';
							finalizaCronometro = true;
						}else{
							jQuery(this).html(segundos_atuais);	
						}

					});

					if(!finalizaCronometro){
						timerId = setTimeout('cronometro()', 1000);
					}

					
				}

		</script>

	</head>

	<body class="body-jogo">

		<nav class="navbar navbar-default navbar-static-top">
			<div class="container">
				<div class="form-group sair">
					<button type="button" class="btn btn-info pull-right" id="btn_sair">Sair</button>
				</div>
			</div>
		</nav>

	    <div class="container">
	    	
	    	<% if(msg =='A'){%>
	    		<div class="alert alert-danger" id="msg">
	    			<Strong>Operação inválida, verificar se todos os campos foram preenchidos</Strong>
	    		</div>
	    	<% }%>

	    	<% if(msg =='B'){%>
	    		<div class="alert alert-info" id="msg">
	    			<Strong>Ação realizada com sucesso!</Strong>
	    		</div>
	    	<% }%>

	    	<% if(msg =='C'){%>
	    		<div class="alert alert-info" id="msg">
	    			<Strong>Senhor, a atividade ordenada foi finalizada!</Strong>
	    		</div>
	    	<% }%>

			<div class="row">
	    		<div class="col-sm-3 casa">
					<img src="images/casa_<%=img_casa%>.jpg" />
				</div>

	    		<div class="col-sm-9">
					<div class="row barra-superior">
						<div class="col-sm-2"> 
							<img src="images/habilidades/temor.jpg" title="Temor" alt="Temor" />
							<span><%=jogo.temor%></span>
						</div>
						
						<div class="col-sm-2"> 
							<img src="images/habilidades/sabedoria.jpg" title="Sabedoria" alt="Sabedoria"/>
							<span><%=jogo.sabedoria%></span>
						</div>
						
						<div class="col-sm-2"> 
							<img src="images/habilidades/comercio.jpg" title="Comércio" alt="Comércio"/>
							<span><%=jogo.commercio%></span>
						</div>
						
						<div class="col-sm-2"> 
							<img src="images/habilidades/magia.jpg" title="Magia" alt="Magia"/>
							<span><%=jogo.magia%></span>
						</div>
					</div>
				</div>
	    	</div>
			
			<div class="row">
				<div class="col-sm-3"></div>
				<div class="col-sm-9">
					<div class="acoes" id="acoes">Senhor, o que deseja fazer hoje?</div>					
				</div>
			</div>
			
		</div>	
		
		<div class="barra-inferior">
			<div class="container">
			
				<div class="row">
					<div class="col-sm-1">
						<img src="images/outros/suditos.jpg" title="Aldeões" alt="Aldeões" id="btn_suditos"/>
						<span><%=jogo.suditos%></span>
					</div>
					
					<div class="col-sm-1">
						<img src="images/outros/pergaminho.jpg" title="Pergaminhos" alt="Pergaminhos" id="btn_pergaminho"/>
					</div>
					
					<div class="col-sm-8"></div>
					
					<div class="col-sm-2">
						<img src="images/outros/moeda.jpg" title="Moeda" alt="Moeda"/>
						<span><%=jogo.moeda%></span>
					</div>
					
				</div>
			</div>
		</div>
	</body>
</html>